body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f9f7f7;
}

.menu-container,
.page-container {
  text-align: center;
  padding: 20px;
  background-color: #d4f41d;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-button,
.back-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #f4f6f8;
  color: rgb(12, 10, 10);
  transition: background-color 0.3s ease;
}

.menu-button:hover,
.back-button:hover {
  background-color: #0056b3;
}

.image-wrapper {
  margin: 20px 0;
}

.centered-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}